%table.subdued
  %thead
    %tr
      %th Comment
  %tbody
  - @comments.each do |comment|
    %tr
      %td= comment.comment
%br
    
  = render :partial => "comments/comment_form", :locals => { :commentable_id => @work_unit.id, :commentable_field => "work_unit_id", :commentable_type => "Work Unit", :comment_num => @work_unit.id }
  /= link_to "New", new_comment_path(comment_params)
  |
  = link_to "Back", :back
