%p.week_pagination
  = link_to "Previous Week".html_safe, 
    dashboard_path(:date => (@start_date - 1.week).strftime("%F")), 
    :class => "previous_week recent_work", 
    :date => (@start_date - 1.week).strftime("%F")
  - unless (start_date..(start_date + 6.days)).include?(Date.today)
    = link_to "Today", dashboard_path, 
      :class => "today recent_work"
  - if (start_date + 6.days) < Date.today
    = link_to "Next Week".html_safe, 
      dashboard_path(:date => (@start_date + 1.week)),
      :class => "next_week recent_work",
      :date => (@start_date + 1.week)
