- content_for :content_column_right do
  %aside
    .module-gradient-container
      .module
        %p ASIDE Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

.module-wrap
  %p calendar goes here
.module-wrap.half
  .module-gradient-container
    .module
      = render :partial => 'shared/recent_work'
  .module-gradient-container.omega
    .module
      = render :partial => 'shared/add_work_unit'

- if @no_time == "true"
  #message{:title => "Laird says...", :style => "display: none;"}
    %p
      You have not entered any time for yesterday. You're fired.
  - content_for :javascripts do
    :javascript
      $(document).ready(function(){
        $("#message").dialog({modal: true});
        return false;
      });
