- content_for :content_column_right do
  %aside
    .module-gradient-container
      .module
        %p ASIDE Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

.module-wrap
  = render :partial => 'shared/calendar', :locals => { :start_date => @start_date, :user => current_user }
.module-wrap.half
  .module-gradient-container
    .module
      = render :partial => 'shared/recent_work'
  .module-gradient-container.omega
    .module
      = render :partial => 'shared/add_work_unit'

- if @show_message == "true"
  #message{:title => @title, :style => "display: none;"}
    %p= @message
  - content_for :javascripts do
    :javascript
      function bind_recent_work_navigation(el)
      {
        var me   = jQuery(el);
        var date = me.attr("date");
        jQuery.get("/dashboard/recent_work", {date: date}, function (data)
        {
          jQuery("#recent-work").html(data)
        });
        return true;
      }
      $(document).ready(function(){
        $("#message").dialog({modal: true});
        $(".accordion").accordion({ header: 'h4', clearStyle: true, fillSpace: true });
        jQuery(".recent-work").click(function()
        {
          bind_recent_work_navigation(this);
          return false;
        });
        return false;
      });
