- content_for :content_column_right do
  %aside
    .module-gradient-container
      .module
        %p ASIDE Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        .clear

.module-wrap
  .module-calendar 
    .calendar
      %table
        %tr.date
          %td M-19
          %td M-19
          %td M-19
          %td M-19 
          %td M-19
          %td M-19 
          %td M-19 
          %td Totals: 
        %tr.client-list
          %td IXI: 1.0 
          %td
            %ul  
              %li IXI: 1.0 
              %li IXI: 1.0
              %li IXI: 1.0 
              %li IXI: 1.0 
             
          %td IXI: 1.0 
          %td IXI: 1.0 
          %td IXI: 1.0 
          %td IXI: 1.0 
          %td IXI: 1.0 
          %td.outstanding Totals: 121.75 
        %tr.total
          %td Total: 18.25
          %td Total: 8.0
          %td Total: 8.0
          %td Total: 8.0
          %td Total: 8.0
          %td Total: 78.75
          %td Total: 8.0
          %td Total: 8.0
    .clear      
    .calendar-switch
      %a.previous
        previous
      %a.later
        later
      .clear  
      
.module-wrap
  .module-gradient-container
    .module
      %h3 Recent Work
      %ul
        %li 
          Friday, Septaugust 24, 2010
          %ul 
            %li - [ICS] - 2 hours - Lorem Ipsum dolor dolor
            %li - [ICS] - 2 hours - Lorem Ipsum dolor dolor
            %li - [ICS] - 2 hours - Lorem Ipsum dolor dolor
            %li - [ICS] - 2 hours - Lorem Ipsum dolor dolor
        %li Friday, Septaugust 24, 2010
        %li Friday, Septaugust 24, 2010
        %li Friday, Septaugust 24, 2010
        %li Friday, Septaugust 24, 2010

      .clear
  .module-gradient-container.omega
    .module
      %h3 Add Work Unit
      .work-unit-form
        %p Scheduled On:
        %p Today
        %br.clear
        %p Client:
        %input
        %br.clear  
        %p Ticket:
        %input
        %br.clear  
        %p Hours:
        %input
        %br.clear  
        %p Description:
        %textarea
      .clear     
  .clear    
