#recent_work
  %h2 Recent Work
  %ul.work_units
    = render :partial => 'work_units/dashboard_line', :collection => @work_units

#add_work_unit
  %h2 Add Work Unit
  = render :partial => 'dashboard/work_units/form', :locals => { :work_unit => @work_unit }
