%h2 Payroll Report
.gradient_border_wrap
  .gradient_border_content
    %h3 Users with unpaid work units:
    %ul
      - @users.each do |user|
        %li= link_to "#{user.last_name}, #{user.first_name}", admin_payroll_path(user)
