.yui3-g
  .yui3-u-1
    %h2 Change Password
.yui3-g
  .yui3-u-1
    .gradient_border_wrap
      .gradient_border_content
        = form_for user, :url => change_password_user_path(user) do |f|
          %p
            %label{:for => "user_password"} Password
            = f.password_field :password, { :value => '' }
          %p
            %label{:for => "user_password_confirmation"} Password Confirmation
            = f.password_field :password_confirmation, { :value => '' }
          %p
            = submit_tag "Update"
