.yui3-g
  .yui3-u-1
    %h2= t(:invoice_report)
.yui3-g
  .yui3-u-1
    .gradient_border_wrap
      .gradient_border_content
        %h3= "#{t(:clients_with_uninvoiced_work_units)}:"
        %ul
          - @clients.each do |client|
            %li= link_to client.name, admin_invoice_path(client)
