%h2 Invoice Report
.gradient_border_wrap
  .gradient_border_content
    %h3 Clients with uninvoiced work units:
    %ul
      - @clients.each do |client|
        %li= link_to client.name, admin_invoice_path(client)
