%ul
  %li
    %a{:href => "/"} Home
  %li
    %a{:href => "clients"} Clients
  %li
    = link_to "Work Units", dashboard_work_units_path
  %li
    %a{:href => "users"} Users
  %li
    %a{:href => "admin"} Admin
