html {
  height:100%;
  @include sans-family;
  @include linear-gradient(color-stops(#1a3247, #3f5365));
}
body {
  height:100%;
  background:none;
  article {
    @include columns(10);
    @include alpha;
  }
  aside {
    @include columns(2);
    @include omega;
    .module-gradient-container {
      @include linear-gradient(color-stops(#ccc, #999));
      @include columns (12);
      margin:5px 0 0 0;
      p {
        font-size:.9em;
      }  
      .module {
        margin:5px;
        background: #e1e1e1;
      }
    }
  }
}
.clear {
  clear:both;
}
header {
  @include linear-gradient(color-stops(#d5d5d5, #e4e4e4 90%, #d7d7d7 100%));
  margin-bottom: 10px;
  h1 {
    height:116px;
    margin-bottom:0px;
    a {
      display:inline-block;
      background: transparent url('../../images/logo.png') no-repeat left top;
      height: 116px;
      width: 262px;
      span {
        display:none;
      }
    }
  }
  nav {
    @include linear-gradient(color-stops(#75959d, #698891 30%, #5d7a82 100%));
    height:54px;
    border-bottom:1px solid #839ca2;
    ul {
      li {
        list-style-type: none;
        display: inline;
        a {
          color:#fff;
          text-decoration: none;
          text-align: center;
          display: inline-block;
          letter-spacing:.1em; 
          height:35px;
          width:100px;
          padding:16px 0 0 0;
          &:hover {
            color:#37526b;
            border-bottom:4px solid #34545c;
            @include linear-gradient(color-stops(#efefef, #fefefe));
          }
        }
      }
    }
  }
}
footer {
  margin-top: 10px;
  .container {
    border-top: 1px solid #4b6378;
    width:59em;
    p {
     color:#4b6378;
     float:right;
     font-size:1em;
    }
  }
}
.module-wrap {
  margin:5px 0 0 0;
  @include full(10);
  .module-gradient-container {
    @include columns(5, 10);
    p {
      font-size:.9em; 
    }
  }
  .omega {
    @include omega(10);
  }
}
.module-full-container {
  @include full;
  margin:0;
  padding:1px 0 1px 0;
  @include linear-gradient(color-stops(#ccc, #999));
  .module {
    margin:5px;
    padding:5px;
    background: #e1e1e1;
  }
}
.module-gradient-container {
  @include linear-gradient(color-stops(#ccc, #999));
  .module {
    margin: 5px;
    padding: 5px;
    background: #e1e1e1;
      h3 {
        font-size:1.3em;
        color:#6c6c6c;
        font-weight:lighter;
        margin: 0 0 9px 0;
      }
      ul {
        padding: 0 0 0 20px;
        color:#373737;
        ul {
          list-style:none;
          margin:0;
          padding:0 0 6px 10px;
          font-size:.9em;
        }
      }
    }
  }
.work-unit-form {
  p {
    width:120px;
    float:left;
    color:#373737;
  input {
    width:100px;
    float:right;  
  }
  textarea {
    width:180px;
    float:right;
  }
  }
}
.module-calendar {
  @include full (10);
  background:#fff;
  margin: 5px 0 0 0;
  .calendar {
    height:auto;
    p {
      margin: 0 0 6px 0;
    }
    table {
      background:#fff;
      tr.date {
        @include linear-gradient(color-stops(#9da6a8, #acbabd));
        td {
          border-right:1px solid #e2e2e2;
          color:#f2f1f1;
          padding:5px 0 3px 10px;
        }
      }
      tr.client-list { 
        @include linear-gradient(color-stops(#fff, #f7f7f7));
        td.outstanding {
          font-size:.9em;
        }
        td {
          border-right:1px solid #e2e2e2;
          border-bottom:1px solid #e2e2e2;
          color:#707070;
          padding: 5px 5px 5px 10px;
            ul {
              list-style:none;
          }
        }
      }
      tr.total {
        color:#707070;
        padding: 0 0 0 10px;
        font-size:.9em;
        td {
          border-right:1px solid #e2e2e2;
          border-bottom:1px solid #e2e2e2;
          }
        }
      }
    }
  }
  .calendar-switch {
    @include linear-gradient (color-stops(#c9d0d2, #afbabe));
    height:25px;
    margin: 0 0 15px 0;
    a.previous {
      float:left;
      color:#fff;
    }
    a.later {
      float:right;
      color:#fff;    
  }   
}
