html {
  height:100%;
  @include sans-family; 
}

body {
  @include linear-gradient(color-stops(#405466, #304659 20%, #0a1824));
  article {
  padding: 10px 20px 20px 20px;
  background:#ccc;
  }
}

header {
  width:100%;
  @include linear-gradient(color-stops(#d5d5d5, #e4e4e4 90%, #d7d7d7 100%));
  h1 {
    height:116px;
    width:100%;
    margin-bottom:0px;
    a {
      display:inline-block;
      background: transparent url('../../images/logo.png') no-repeat left top;
      height: 116px;
      width: 262px;
      span {
        display:none;
      }
    }
  }
  nav {
    @include linear-gradient(color-stops(#75959d, #698891 30%, #5d7a82 100%));
    height:54px;
    border-bottom:1px solid #839ca2;
    ul {
      li {
        list-style-type: none;
        display: inline;
        a {
          color:#fff;
          text-decoration: none;
          text-align: center;
          display: inline-block;
          letter-spacing:.1em; 
          height:35px;
          width:100px;
          padding:16px 0 0 0;
          &:hover {
            color:#37526b;
            border-bottom:4px solid #34545c;
            @include linear-gradient(color-stops(#efefef, #fefefe));
          }
        }
      }
    }
  }
}
footer {
  border:1px top #4b6378;
  p {
    color:#e1e1e1;
    float:right;
    font-size:1em;
 } 
}
